*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #636363;
    background-color: white;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.img__1{
    background-image: url(./img/pic2.png);
    background-size: 100%;
    background-position: top;
}
/* HEADER */
.container__header{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__header ul {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.container__header li{
    list-style: none;
    margin-right: 30px;
}
.container__header li a{
    display: inline-block;
    padding: 40px 0;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 0.94rem;
    cursor: default;
}

.container__header a span{
    display: inline-block;
    transition: all 0.5s;
}

.container__header a:hover{
    color: #f55f8d;
}
.container__header a:hover span {
    animation-name: upToDown;
    animation-duration: 0.3s;
}
.container__header i{
    font-size: 0.81rem;
}
.container__header button{
    padding: 20px 35px;
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    cursor: pointer;
    border-radius: 32px;
    border: none;
    background-size: 200%;
    transition: 0.5s;
}

.container__header button:hover {
background-position: right center;
}

/* CAROUSEL */
/* .container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
} */

.carousel__container{
    /* padding: 30px 0; */
    display: flex;
    justify-content: space-between;
}

.carousel__title{
    margin-top: 70px;
    margin-right: 100px;
}
.carousel__title h3 {
    margin-bottom: 30px;
    font-size: 1.38rem;
    color: #f55f8d;
}
.carousel__title h2{
color: #262626;
font-size: 4.375rem;
}

.carousel__title p{
    font-size: 1.125rem;
    margin: 25px 0 20px;
}

.carousel__title span{
    font-size: 1.25rem;
}
.carousel__item{
margin-bottom: 30px;
}

.carousel__title i{
    height: 35px;
    width: 35px;
    line-height: 35px;
    color: white;
    border-radius: 50%;
    border: 1px solid #f55f8d;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    text-align: center;
    background-size: 200%;
}   

.carousel__img{
    width: 40%;
}
.carousel__title button {
    padding: 20px 35px;
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    cursor: pointer;
    border-radius: 32px;
    border: none;
    background-size: 200%;
    transition: 0.5s;
}
.carousel__title button:hover{
    background-position: right;
}

/* SERVICES */
.services{
    padding: 100px 0;
    background-image: url(./img/bg2.png);
    /* background-repeat: no-repeat; */
    background-position:top center;
    background-size: cover;
}
.services__title{
    text-align: center;
    margin-bottom: 50px;
}

.services__title h3{
    margin-bottom: 30px;
        font-size: 1.38rem;
        color: #f55f8d;
}

.services__title h2{
    color: #262626;
    font-size: 4.375rem;
}

.services__list{
    display:grid;
   grid-template-columns:1fr 1fr 1fr;
   gap: 30px;
   text-align: center;
}
.services__item{
    padding: 30px 45px;
    height: 420px;
    background-color: white;
    border-radius: 8px;
    box-shadow:0 0 40px 0 rgb(238, 236, 236);
    border: 3px solid transparent;
    transition: 0.5s;
    transform: translateY(0);
}

.services__item:hover{
border-image: url(./img/br.png) 300 / 380px round;
transform: translateY(-30px);
height: 420px;
}

.services__item img{
    height:210px;
    width:210px;
} 
.services__item h3{
    margin: 20px 0 20px;
    font-size: 1.5rem;
    color: black;
}

/* ABOUTUS */
.aboutUs{
    background-image: url(./img/bg15.png);
    background-size: cover;
    background-position:bottom;
    padding-bottom: 50px;

}

.aboutUs_container{
   display: flex;
   
   justify-content:center;
    align-items: center;
    
}
.aboutUs__title{
position: relative;
    left: -100px;
}
.aboutUs__title h3{
    width: 600px;
    margin-bottom: 30px;
    font-size: 1.38rem;
    color: #f55f8d;
}

.aboutUs__title h2{
    margin-bottom: 30px;
    color: #262626;
     font-size: 4.375rem;
}

.aboutUs__item{
    margin-bottom: 20px;
}
 .aboutUs__img{
    position: relative;
    left: -200px;
    /* top: 50px; */
    /* padding-top: 200px; */
 }

 .aboutUs__item i{
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    border: 1px solid #f55f8d;
    border-radius: 50%;
    color: #f55f8d;
    margin-right: 5px;
 }
.aboutUs__title button{
    margin-top: 10px;padding: 20px 35px;
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    cursor: pointer;
    border-radius: 32px;
    border: none;
    background-size: 200%;
    transition: 0.5s;
}
.aboutUs__title button:hover {
    background-position: right;
}
.aboutUs__img img {
    width: 700px;
    border-top-right-radius:80px ;
    border-bottom-right-radius: 80px;
}   

/* NUMBER */
.number{
    padding: 50px 0;
    background-image: url(./img/bg14.png);
    background-position: center;
}

.number__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.number__container i{
    display: inline-block;
    font-size: 2.8rem;
    height: 80px;
    width: 80px;
    align-items: center;
    line-height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;

}

.number__container span{
    display: inline-block;
    margin: 5px 5px 0;
    color: #f55f8d;
    font-size: 4rem;
    font-weight: 800;

}
.number__container p {
    font-size: 1.12rem;
}

/* FEATURES */

.features{
    padding-top: 110px;
    background-image: url(./img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.features__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features__left, .features__right{
    width: 50%;
}
.features__title h3{
    margin-bottom: 30px;
    font-size: 1.38rem;
    color: #f55f8d;
}

.features__title h2{
    margin-bottom: 30px;
    color: #262626;
    font-size: 4.375rem;
}

.features__item {
    position: relative;
    background-color: white;
    width: 91%;
    margin-bottom: 30px;
    padding: 25px 20px;
    border-radius: 8px;
    box-shadow: rgba(113, 111, 111, 0.2) 10px 10px 40px 0px;
    z-index: 0;
    transition: 0.5s;
}
.features__item::before{
    content: "";
    background-image: linear-gradient(to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%);
    position: absolute;
    background-size: 200%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    transition: 0.5s;
    opacity: 0;
}
.features__item:hover, .features__item:hover .item__container i{
    color: white;
}

.features__item:hover::before{
    opacity: 1;
}

.features .item__total{
    width: 100%;
   
}
.features__item:nth-child(2){
    margin-left: 50px;
}
.features__text h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.features__text p{
    line-height: 1.6rem;
}
.features__item .item__container{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    z-index: 2;
    transition: 0.5s;
}

.features__item .item__container i{
    font-size: 5rem;
    color: #f55f8d;
}
.features__right .right__container{
    margin-right: -80px;
}
.features__right img{
    max-width: 100%;
    height: 100%;
    animation: move2 5s infinite;
    position: relative;
    bottom:40px;
}

/* PORTFOLIO */
.portfolio{
    padding-top: 110px;
    background-image:url(./img/bg17.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.portfolio__title{
    text-align: center;
}

.portfolio__title h2{
    width: 100%;
    color: #262626;
    font-size: 4.375rem;
    margin-bottom: 20px;
    
}

.portfolio__title h3{
    margin-bottom: 20px;
    font-size: 1.38rem;
    color: #f55f8d;
}
.portfolio__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 35px;
}

.portfolio__item{
    position: relative;
    overflow: hidden;
}

.portfolio .item__overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.4);
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
    

}


.portfolio__item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
   
}

.portfolio__item::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}
.portfolio__item:hover::before{
    left: 125%;
}

.portfolio .item__overlay .overlay__plus{
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    font-size:  1.75rem; ;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(to right,
            #f55f8d 0,
            #f8ae56 51%,
            #f55f8d 100%);
            background-size: 200%;
    transform: translateX(30px) translateY(-30px);
    transition: 0.5s;
    overflow: hidden;
   
}

.portfolio .item__overlay .overlay__title{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    transform: translateY(50px);
    transition: 0.5s;
}

.portfolio .item__overlay .overlay__plus a{
    color: white;
}

.portfolio__item:hover .item__overlay {
    opacity: 1;
}

.portfolio__item:hover .overlay__plus{
    transform: translateY(0) translateX(0);
    

} .portfolio__item:hover .overlay__title{
    transform: translateY(0);
}

.portfolio__item.item__1{
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}

.portfolio__item.item__2{
    grid-column: 3/4;
    grid-row: 1/3;
}

.portfolio__item.item__5{
    grid-column:1/3;
    grid-row: 4/5;
}

.portfolio__item.item__6{
    grid-column: 3/4;
    grid-row: 3/5;
}

.overlay__title p{
    opacity: 0.75;
}

.owl-carousel .owl-item img{
    display: block;
    width: 100%;
}
/* BLOG */
.blog{
    padding: 115px 0;
}
.blog__title{
    text-align: center;
}
.blog__title h3{
    margin-bottom: 20px;
    font-size: 1.38rem;
    color: #f55f8d;
}

.blog__title h2 {
    width: 100%;
    color: #262626;
    font-size: 4.375rem;
    margin-bottom: 20px;
}

.blog__item{
    background-color:rgba(245, 95, 141, 0.1) ;
    margin-left: 20px;
    text-align: left;
    border-radius: 8px;
}

.blog__header{
    position: relative;
}
.blog__header img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.blog__header p{
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-image: linear-gradient(to right,
            #f55f8d 0,
            #f8ae56 51%,
            #f55f8d 100%);
    background-size: 200%;
    border-radius: 5px;
    font-size: 0.875rem;
    position: absolute;
    left: 10px;
    bottom: -20px;
}

.blog__body{
    padding: 30px 15px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.05);
}

.blog__body h3{
    font-size: 1.5rem;
    color: black;
}

.blog__footer{
    display: flex;
    justify-content: flex-start;
    padding: 0px 15px 20px;
    
}

.blog__footerLeft {
    display: flex;
    align-items: center;
}

.blog__footerRight {
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.blog__footer i{
    margin-right: 3px;
    color: #f55f8d;
    font-size: 1.3rem;
   
}

.blog__footer p{
    font-size: 0.875rem;
}

.blog__footer span{
    color: #f55f8d;
}
/* @keyframes move3{
    0%{
        transform: translateX(30px) translateY(-30px);
        opacity: 0;
    }
    50%{
        transform: translateX(0) translateY(0);
            opacity: 0;
    }
} */


.backToTop{
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 1rem;
    background-color: #f55f8d;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    opacity: 0;
    text-align: center;
    line-height: 50px;
}


.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/* FOOTER */
footer{
    background-image: url(./img/bg4.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #0e1b1f;
    position: relative;
    color: white;
    height: auto;
}
.footer__container{
    position: relative;
}
footer::before{
    content: "";
    background-image: url(./img/pattern2.png);
    background-repeat: no-repeat;
    position: absolute;
    background-position:left top;
    background-size: contain;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer__top{
    display: flex;
    align-items: center;
    color: black;
    padding: 50px 60px;
    background-color: white;
    background-image: url(./img/pattern3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:bottom;
    position: relative;
    left: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    
}
.footer__text, .footer__form{
    width: 50%;
    
}
.footer__text h2{
    font-size: 1.75rem;
}

.footer__form form{
   display: flex;
   border-radius: 8px;
   box-shadow: rgb(0, 0, 0, 0.05) 0 0 60px 0;
}

.footer__form input{
    font-size: 0.94rem;
    color: #888;  
    padding: 20px;
    border: none;
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex: 2 1 auto;
    transition: all 0.5s;
}
.footer__form button{
    padding: 20px 35px;
    background-image: linear-gradient(to right,
            #f55f8d 0,
            #f8ae56 51%,
            #f55f8d 100%);
    background-size: 200%;
    border: none;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 1.25rem;
    transition: all 0.5s;
    cursor: pointer;
}
.footer__form button i{
    border: none;
    transition: 0.5s;
}
.footer__form input:hover{
    border: 1px solid #f55f8d;
}
.footer__form button:hover{
    background-position: right;
    
}
.footer__form button:hover i{
    animation-name: move3;
    animation-duration: 0.5s;
    overflow: hidden;
}

.footer__body{
    padding: 70px 0;
    display: flex;
    animation-name: move4;
    animation-duration: 3s;
}
.footer__body .footer__item{
    width: 25%;
}
.footer__body .footer__item li{
    list-style: none;
    margin: 20px 0;
}
    

.footer__body .footer__item1 li{
    display: flex;
    align-items: center;
    line-height: 1.5;
    margin: 10px 0;
    
}

.footer__body .footer__item a{
    text-decoration: none;
    color: #636363;
    display: flex;
    font-size: 1rem;
    transition: 0.7s;
}
.footer__body .footer__item a:hover{
    color: white;
}

.footer__itemHeader{
    margin-bottom: 30px;
}

.footer__itemHeader h3{
    display: inline-block;
    margin: 20px 0;
    padding-bottom: 10px;
    position: relative;
    font-size: 1.5rem;

}
.footer__itemHeader h3::before{
    content: "";
    background-image: linear-gradient(to right,
            #f55f8d 0,
            #f8ae56 51%,
            #f55f8d 100%);
    background-size: 200%;

    height: 4px;
    width: 15px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 0;
}

.footer__itemHeader h3::after {
    content: "";
    background-image: linear-gradient(to right,
            #f55f8d 0,
            #f8ae56 51%,
            #f55f8d 100%);
    background-size: 200%;

    height: 4px;
    width: 45px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 20px;
}
.footer__body .footer__item i{
    margin-right: 15px;
}
.footer__body .footer__item1 i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-image: linear-gradient(to right,
            #f55f8d 0,
            #f8ae56 51%,
            #f55f8d 100%);
}
.footer__bottom{
    background-color: #1f343b;
    padding: 10px 0 20px;
    position: relative;
    
}

.footerBottom__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottomLeft p{
    font-size: 0.94rem;
}

.footer__bottomLeft span{
    color: #f55f8d;
}

 .footerBottom__container .footer__bottomRight ul{
    display: flex;
    justify-content: space-between;
 }
  .footerBottom__container .footer__bottomRight li{
    list-style: none;
    height: 35px;
    width: 35px;
    background-color: rgb(255, 255, 255, 0.1);
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 0.875rem;
    transition: 0.5s;
  }
 .footerBottom__container .footer__bottomRight li:hover{
    background-color: #f55f8d;
 }

.footer__bottomRight a{
    color: white;
}

.footer__top.animate__animated.animate__fadeInUp{
  --animate-duration: 2s;
}

@keyframes move2{
    0%{
        transform: rotate(1deg) translate(2px,2px);
    }
    50%{
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100%{
        transform: rotate(1deg) translate(2px, 2px);
    }
}

@keyframes upToDown{
    49%{
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-100%);
        opacity: 0;
    }
    51%{
        opacity: 1;
    }
}

@keyframes move3{
    0%{
        transform: translateX(100%);
    }
    49%{
        transform: translateX(-50%);
        opacity: 0;
    }
    51%{
        opacity: 1;
    }
}

@keyframes move4{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}